<div class="header">
  <!-- Exibe o nome de usuário ou mensagem de boas-vindas -->
  <span id="username-display">{{ welcomeMessage }}</span>

  <!-- Botão para alternar o idioma -->
  <button id="language-toggle" (click)="toggleLanguage()">{{ languageToggleText }}</button>
</div>

<!-- Exibe as instruções do primeiro nível -->
<p *ngIf="instructions[0]">{{ instructions[0] }}</p>

<!-- Itera sobre os títulos e instruções dos níveis e exibe o componente 'app-level' para cada nível -->
<div *ngFor="let title of levelTitles; let i = index">
  <app-level [title]="title"
             [instruction]="instructions[i]"
             [level]="i + 1">
  </app-level>
</div>

<!-- Exibe as instruções do segundo nível -->
<p *ngIf="instructions[1]">{{ instructions[1] }}</p>

<!-- Botão para reiniciar o progresso -->
<button id="reset-button" (click)="resetProgress()">{{ resetButtonText }}</button>
